@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap')
layer(base);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap')
layer(base);

/* Alogolia DocSearch */
@import './docsearch.css';

@import './tallcraftui.css';

@import 'tailwindcss';

@plugin '@tailwindcss/forms';

@source '../../vendor/developermithu/tallcraftui/src/**/*.php';

@custom-variant dark (&:is(.dark *));

@theme {
  --breakpoint-*: initial;
  --breakpoint-xxs: 375px;
  --breakpoint-xs: 475px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  --font-inter:
    Inter, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-lato:
    Lato, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --color-primary: #23b9ad;
  --color-secondary: #6167ef;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility site-gradient {
  @apply bg-no-repeat bg-linear-to-tl text-slate-900 from-white via-white to-teal-100/30 dark:bg-slate-900 dark:from-slate-900 dark:via-slate-900 dark:to-teal-600/10 dark:text-slate-400;
}

@utility custom-scrollbar {
  scrollbar-width: none;
  /* Firefox */
  transition:
    scrollbar-color 0.3s,
    scrollbar-width 0.3s;
  /* Smooth transition for scrollbar appearance */

  /* WebKit Browsers */
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 4px;
    transition: background 0.3s;
    /* Smooth transition for thumb color */
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    transition: background 0.3s;
    /* Smooth transition for track color */
  }

  &:hover::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.4);
  }

  &:hover::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }

  /* Firefox */
  &:hover {
    scrollbar-width: thin;
    scrollbar-color: rgba(100, 100, 100, 0.4) rgba(0, 0, 0, 0);
    /* Thumb and track color */
  }
}

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-slate-900 dark:text-white font-inter;
    }

    h1 {
        @apply text-[32px] leading-10;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl leading-8;
    }

    a {
        @apply text-teal-500;
    }
}

code {
    color: #ffbf54;
    padding: 1px 6px;
    border-radius: 3px;
    font-size: 14px;
    background: #292d3e;
}

/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
pre {
    @apply my-4 overflow-x-auto rounded-sm;
}

/*
Add some vertical padding and expand the width
to fill its container. The horizontal padding
comes at the line level so that background
colors extend edge to edge.
*/
pre code.torchlight {
    @apply block py-4 text-sm rounded-sm min-w-max;
}

/*
Horizontal line padding.
*/
pre code.torchlight .line {
    @apply px-4;
}

/*
Push the code away from the line numbers and
summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}


