@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");

/* Alogolia DocSearch */
@import "docsearch.css";

@import "./tallcraftui.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply text-slate-900 dark:text-white font-inter;
    }

    h1 {
        @apply text-[32px] leading-10;
    }

    h2 {
        @apply text-2xl;
    }

    h3 {
        @apply text-xl leading-8;
    }

    a {
        @apply text-teal-500;
    }
}

@layer components {
    .site-gradient {
        @apply bg-no-repeat bg-gradient-to-tl text-slate-900 from-white via-white to-teal-100/30 dark:bg-slate-900 dark:from-slate-900 dark:via-slate-900 dark:to-teal-600/10 dark:text-slate-400;
    }

    .custom-scrollbar {
        scrollbar-width: none;
        /* Firefox */
        transition: scrollbar-color 0.3s, scrollbar-width 0.3s;
        /* Smooth transition for scrollbar appearance */
    }

    /* WebKit Browsers */
    .custom-scrollbar::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 4px;
        transition: background 0.3s;
        /* Smooth transition for thumb color */
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
        transition: background 0.3s;
        /* Smooth transition for track color */
    }

    .custom-scrollbar:hover::-webkit-scrollbar-thumb {
        background: rgba(100, 100, 100, 0.4);
    }

    .custom-scrollbar:hover::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0);
    }

    /* Firefox */
    .custom-scrollbar:hover {
        scrollbar-width: thin;
        scrollbar-color: rgba(100, 100, 100, 0.4) rgba(0, 0, 0, 0);
        /* Thumb and track color */
    }
}

code {
    color: #ffbf54;
    padding: 1px 6px;
    border-radius: 3px;
    font-size: 14px;
    background: #292d3e;
}

/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
pre {
    @apply my-4 overflow-x-auto rounded;
}

/*
Add some vertical padding and expand the width
to fill its container. The horizontal padding
comes at the line level so that background
colors extend edge to edge.
*/
pre code.torchlight {
    @apply block py-4 text-sm rounded min-w-max;
}

/*
Horizontal line padding.
*/
pre code.torchlight .line {
    @apply px-4;
}

/*
Push the code away from the line numbers and
summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}


